th {
  background-color: lightblue;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:20px;  
  padding-left:8px; 
}

td {
  background-color:#F6F6F6;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:20px;  
  padding-left:8px; 
}
